[submodule "modules/Foomo"]
	path = modules/Foomo
	url = ../Foomo.git
[submodule "modules/Foomo.Services"]
	path = modules/Foomo.Services
	url = ../Foomo.Services.git
[submodule "modules/Foomo.Docs"]
	path = modules/Foomo.Docs
	url = ../Foomo.Docs.git
[submodule "modules/Foomo.TestRunner"]
	path = modules/Foomo.TestRunner
	url = ../Foomo.TestRunner.git

[submodule "modules/Foomo.Bundle"]
	path = modules/Foomo.Bundle
	url = ../Foomo.Bundle.git
[submodule "modules/Foomo.Less"]
	path = modules/Foomo.Less
	url = ../Foomo.Less.git
